body {
    background-color: #DEDEDE;
}

.input-group {
    background-color: rgba(0, 0, 0, .45);
    padding: 20px 20px 0
}

.btn {
    display: block;
    margin-bottom: 25px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 2px solid #00322B;
    padding: 0;
    border-radius: 5px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.btn p {
    margin: 0!important;
    color: #fff;
    padding: 10px 0;
    font-size: 18px
}

.btn:hover {
    background-color: #fff;
    border: 2px solid #1B2B61;
    opacity: 0.8;
}

.btn:hover .poke-name{
    background-color: #1B2B61;
}

.jumbotron {
    background-image: url(../img/bg-pokemon.jpg);
    background-size: cover;
    padding-top: 250px;
    border-bottom: 10px solid #1B356A
}

@media (min-width:992px) {
    .jumbotron {
        padding-top: 300px;
        padding-bottom: 120px;
        border-bottom: 20px solid #1B356A
    }
}

@media (min-width:1400px) {
    .jumbotron {
        padding-top: 380px;
        padding-bottom: 200px;
        border-bottom: 50px solid #1B356A
    }
}

.navbar {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, .85);
}

.navbar img {
    margin: 10px auto;
    display: block
}

footer {
    color: #fff;
    padding: 20px;
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
    position: relative;
    box-shadow: 0px -8px 15px #000;
}

.details footer p{
    color: #fff;
    font-size: 14px;
}

footer:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    border-top: 1px solid #8c1002;
    border-bottom: 1px solid #8c1002;
    background: #a51302;
    left: 0px;
    top: -10px;
}

.container-fluid {
    padding: 30px 0px;
}

.container.loading{
    text-align: center;
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    line-height: 60px;
    font-weight: bold;
}

.col-md-6 .container.loading{
    width: 100%;
}

.container.no-more-loading{
    text-align: center;
    font-weight: bold;
}

.navbar {
    position: relative;
    
    background-repeat: no-repeat;
    
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 10px 10px #000;
    padding: 20px 0px;
}

.navbar:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    border-top: 1px solid #8c1002;
    border-bottom: 1px solid #8c1002;
    background: #a51302;
    bottom: -10px;
}

.details p {
    color: #00322B;
    font-size: 20px
}

hr{
    border-top: 1px solid #00322B;
}

.details .img-detail {
    background-color: #fff;
    display: block;
    border: 2px solid #00322B;
    border-radius: 5px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}

.details .img-detail img {
    width: 75%;
    image-rendering: pixelated;
}

.details .img-detail p.detail-pokename {
    margin: 0!important;
    color: #fff;
    padding: 10px 0;
    font-size: 22px;
    text-align: center;
    background-color: #00322B;
    text-transform: capitalize;
}

.details h2 {
    color: #00322B;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase
}

.c100::after {
    background-color: #00322B!important
}

.c100 {
    background-color: #b1b1b1!important
}

.poke-name {
    background-color: #00322B
}

.poke-list-image{
    min-height: 150px;
    max-height: 150px;
    image-rendering: pixelated;
}

.col-sm-1.stats-column{
    width: calc(100% / 6);
}

.evol-wrap{
    overflow: auto;
}

.evol-card{
    width: calc(100% / 3);
    float: left;
    text-align: center;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
    position: relative;
    margin-bottom: 5px;
}

.evol-card:last-child:after{
    display: none;
}

.evol-card:hover{
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
}

.evol-card:hover > p.poke-name{
    text-decoration: underline;
}

.evol-card .head{
    text-align: center;
    background-color: #00322B;
    color: #FFF;
    padding: 5px 0px;
}

.evol-card img {
    height: 70px;
    image-rendering: pixelated;
}

.evol-card p.poke-name{
    text-align: center;
    text-transform: capitalize;
    margin: 0px;
    font-size: 14px;
    padding: 5px 0px;
    color: #FFF;
}

.poke-stats{
    margin: 20px 0px;
}

@media (max-width:480px) {
    .col-sm-1.stats-column {
        width: 100%;
    }

    .evol-card{
        width: 100%;
    }
}