<div class="container-fluid">
        <div class="container">
        
          <div class="col-md-6">
              <span class="img-detail">
                  <img class="img-responsive center-block detail-pokepic" ng-src="//raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon_id}}.png" onerror="this.src='img/no-pokemon.png'">
                  <p class="detail-pokename">{{pokemon_details.name}}</p>
              </span>
          </div>

          <div class="col-md-6" ng-if="loading_pokemon">
                <div class="container loading">
                        Loading Pokédex
                      </div>
          </div>

          <div class="col-md-6" ng-if="!loading_pokemon">
                <hr/>
                
                <p>{{getText(specie.flavor_text_entries) == '' || !getText(specie.flavor_text_entries) ? 'No information on pokedex' : getText(specie.flavor_text_entries)}}</p>
                
                <hr/>

                <div class="row">
                    <div class="col-md-12">
                        <p><b>Height:</b> {{pokemon_details.height/10}}m - <b>Weight:</b> {{pokemon_details.weight/10}}kg</p>
                        <p><b>Abilities:</b> {{getAbilities(pokemon_details.abilities)}}</p>
                        <p><b>Type:</b> {{getTypes(pokemon_details.types)}}</p>
                    </div>
                </div>
                <p><b>Evolution Chain</b></p>
                <div class="evol-wrap" ng-if="evolutions.length > 0 && !loading_evol">


                    <div ng-include="'./views/templates/evol-template.html'" ng-repeat="evol in evolutions as evolutions_chain" ng-init="dynamicIndex = $index + 1">
                    
                    </div>


                </div>

                <div class="evol-wrap" ng-if="evolutions.length == 0 && !loading_evol">

                    <a class="evol-card">
                        <div class="head">-</div>
                        <img ng-src="img/no-pokemon.png" alt="">
                        <p class=poke-name>No Information</p>
                    </a>

                </div>
          
          </div>

          
          <div class="col-md-12 poke-stats">


            <div class="col-sm-1 stats-column" ng-repeat="stat in pokemon_details.stats">
              <h2>{{stat.stat.name}}</h2>
              <div class="c100 p{{stat.base_stat > 100 ? '100' : stat.base_stat}} small center">
                <span>{{stat.base_stat}}</span>
                <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
                </div>
              </div>
            </div>

          </div>

        </div>
      
      </div> 