<div class="container-fluid">
  <div class="container" infinite-scroll="nextPokemonList()" infinite-scroll-disabled='loading_pokemons' infinite-scroll-use-document-bottom="true">
    <div class="col-sm-6 col-md-3" ng-repeat="pokemon in all_pokemons"  ng-click="viewDetails(pokemon)">
        <a class="btn btn-default" ng-href="#!/details/{{getPokemonId(pokemon)}}" role="button">
          <img class="img-responsive center-block poke-list-image" ng-src="//raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{getPokemonId(pokemon)}}.png" onerror="this.src='img/no-pokemon.png'">
          <p class="poke-name">{{pokemon.name}}</p>
        </a>
    </div>      
  </div>
  
  <div class="container loading">
    Loading Pokédex
  </div>

  <div class="container no-more-loading" ng-if="!next_url">You've caught them all!</div>
</div>