<a class="evol-card" ng-href="#!/details/{{getPokemonId(evol.species.url)}}">
    <div class="head">{{ $index > 0 ? dynamicIndex+' (Variation)' : dynamicIndex }}</div>
    <img ng-src="{{getEvolPic(evol)}}" onerror="this.src='img/no-pokemon.jpg'" alt="">
    <p class=poke-name>{{evol.species.name}}</p>
</a>

<div ng-include="'./views/templates/evol-template.html'" ng-repeat="evol in evol.evolves_to as evolutions_chain" ng-init="dynamicIndex = dynamicIndex + 1"></div>